.profile-image{
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.settings-tray{
  background: #eee;
  padding: 10px 15px; 
  border-radius: 7px;
  display: flex;
}

.tray-icons{
  margin-top: 10px;
  font-size: 25px;
  color: grey;
  margin-left: 14px;
  cursor: pointer;
  transition: .3s;
}

.tray-icons:hover{
  color: #74b9ff;
}

.text-wrapper-profile{
  margin-left: 12px;
}

.actions-profile-tray{
  display: flex;
  margin-left: auto;
  
}