.search-box{
  background: #fafafa;
  padding: 10px 13px;
}

.input-wrapper{
  background: white;
  border-radius: 40px;
}

.input-wrapper i{
  color: grey;
  vertical-align: middle;
  margin-left: 7px;
}

input{
  border: none;
  border-radius: 40px;
  width: 80%;
}

.input-contacts::placeholder {
  color: grey;
  font-weight: 300;
}


.input-contacts:focus {
  outline: none;
}